version: "3.9"
services:
  tldraw:
    image: docker.io/erfianugrah/tldraw:v1.2.0
    container_name: tldraw
    restart: unless-stopped
    volumes:
      - /home/erfi/docker-volumes/tldraw/data/rooms:/app/.rooms # Named volume for room data
      - /home/erfi/docker-volumes/tldraw/data/assets:/app/.assets # Named volume for assets
    expose:
      - 5858 # Expose HTTP port
    environment:
      - TZ=Europe/Amsterdam # Set your preferred timezone
      - NODE_ENV=production
      - PORT=5858
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:5858/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s
    networks:
      tldraw:
        ipv4_address: 172.40.1.2

networks:
  tldraw:
    driver: bridge
    ipam:
      config:
        - subnet: 172.40.1.0/24
          gateway: 172.40.1.1
